*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    background-color: rgb(51, 51, 51);
}

nav{
    background-color: black;
    padding: 10px;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li a{
    color: aliceblue;
    text-decoration: none;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

li a:hover{
    font-size: large;
    color: aquamarine;
}

.logout a{
    color: brown;
}